/* 4g.css */

@font-face{
	font-family: "Boxy-Bold";
	src: url("res/font/Boxy-Bold.woff");
}
html{
	font-size: 10px;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
#logo{
	float: left;
}
#title{
	font-size: 8em;
	font-weight: bold;
	text-align: center;
}
#boilerplate{
	position: relative;
	top: 10em;
	font-family: Boxy-Bold, Courier, monospace;;
	color:#000;
	text-shadow:
	   -.5em -.5em 0 #fff,
	    .5em -.5em 0 #fff,
	   -.5em  .5em 0 #fff,
	    .5em  .5em 0 #fff;
}
#dynamicstats{
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 20em;
	text-align: center;
}
